<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<!link rel="stylesheet" href="{{ url_for('static', filename='flatly.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />


	</head>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2> MENU </h2>
					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a type="button" href="{{ url_for('App_req') }}" class="btn btn-warning">
										List of medicine requests
									</a>
								</div>
								<div class="btn-group">
									<a type="button" href="{{ url_for('App_don') }}" class="btn btn-warning">
										List of medicine donation requests
									</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</body>
</html>
