<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<!link rel="stylesheet" href="{{ url_for('static', filename='flatly.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />


	</head>
<header>
      <div style="text-align:right">
        <ul>
          <p><a style="color: white" href="{{ url_for('notification')}}" title=" ">/  Notifications /</a>
          <a style="color: white" href="/" title=" ">/  LogOut  /</a>
        </ul>
      </div>
</header>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">

					<div style="text-align:center;font-size:100%;" class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
                                <h1 style="text-align:center;color:red"> MAIN MENU  </h1>
 					            <h2> REQUEST MEDICINE </h2>
								<div class="btn-group">
									<a type="button" href="{{ url_for('ngo_list') }}" class="btn btn-warning">
                                        BROWSE LIST OF NGOs
									</a>
								</div>
								<div class="btn-group">
									<a type="button" href="{{ url_for('med_list') }}" class="btn btn-warning">
										BROWSE LIST OF Medicines
									</a>
								</div>
                                <h2> DONATE MEDICINE </h2>
								<div class="btn-group">
									<a type="button" href="{{ url_for('donate') }}" class="btn btn-warning">
										Medicine Donation Form
									</a>
								</div>
                                {% if num|int == 2 %}
                                    <div class="btn-group" >
									    <a type="button" href="{{ url_for('Approve') }}" class="btn btn-warning"  >
										    Approve request
									    </a>
                                    </div>
                                {% endif %}
                               </div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</body>
</html>
