<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: center;font-family: verdana;color: white}
        p{text-align: center;font-family: Optima;color: white}
        body{text-align: center;font-family: Optima;color: white}
    </style>
    <meta charset="UTF-8">
    <title>Login</title>
    <h1>Login</h1>
</head>
<body style="background-color: cadetblue;">
<p>Please login with your valid credentials.</p>
<form method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username value="{{
          request.form.username }}">
      <dt>Password:
      <dd><input type=password name=password value="{{
          request.form.password }}">
    </dl>
    <p><input type=submit value=Login>
  </form>
</body>
</html>